.banner {
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  transition: background-image 1s ease-in-out;
  position: relative;
  color: white;
  text-decoration: none;
}

.banner-link {
  text-decoration: none;
  color: inherit;
}

.banner.fade {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.banner.fade .banner-info {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.banner .banner-info {
  max-width: 600px;
  margin: 40px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.banner .banner-info h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner .banner-info p {
  font-size: 1.1rem;
  line-height: 1.4;
}
